@import '../styles/themes/default';

$tabs: 'snake-tabs';

.#{$tabs} {
  box-sizing: border-box;

  &-wrap {
    display: flex;
    position: relative;
    background: #fff;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none; // 移除滚动条
    }

    &-top {
      height: 40px;
      @include one-px-border(bottom, solid, #ddd);
    }

    &-bottom {
      height: 40px;
      @include one-px-border(bottom, solid, #ddd); }

    &-item {
      flex: 1;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #666;
      padding: 6px 12px;

      &-customWidth {
        flex: initial;
      }
    }

    &-scroll {
      flex-shrink: 0;
    }

    &-active {
      color: $brand;
    }

    &-underline {
      position: absolute;
      border: 1px solid $brand;
      z-index: 10;

      &-top {
        bottom: 0;
        transition: left 0.3s $easeInOut, width 0.3s $easeInOut;
      }

      &-bottom {
        top: 0;
        transition: left 0.3s $easeInOut, width 0.3s $easeInOut;
      }
    }
  }
}
