$transparent: rgba(0, 0, 0, 0);
$fullBlack: rgba(0, 0, 0, 1);
$darkBlack: rgba(0, 0, 0, 0.87);
$lightBlack: rgba(0, 0, 0, 0.54);
$minBlack: rgba(0, 0, 0, 0.26);
$faintBlack: rgba(0, 0, 0, 0.12); // 微黑色
$fullWhite: rgba(255, 255, 255, 1);
$darkWhite: rgba(255, 255, 255, 0.87);
$lightWhite: rgba(255, 255, 255, 0.54);

$bgGray: #f0f1f2; // 背景灰色
$lightGray: #e5e5e5; // 浅灰色
$gray: #929292; // 灰色
$dimGray:#666;
$darkGray: #333; // 暗灰色

$faintOrange: rgba(254, 117, 26, 0.26);
$minOrange: rgba(254, 117, 26, 0.3);
$lightOrange: #fff3e0;
$orange: #fe751a;
$apricotOrange: #ffa800; // 杏黄色

$red50: #ff5555;

$roseGold50: #eeddc9;
$roseGold100: #f3e1cb;
$roseGold200: #f8e7d3;
$roseGold300: #e3c8ad;

$green50: #13be23;
