// All icons from http://www.iconfont.cn
// Thank you Alimama for the great support
@font-face {
  font-family: '#{$icon-font-prefix}';  /* project id 439465 */
  src: url('https://at.alicdn.com/t/font_439465_g1l0gf02l1dlhaor.eot');
  src: url('https://at.alicdn.com/t/font_439465_g1l0gf02l1dlhaor.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_439465_g1l0gf02l1dlhaor.woff') format('woff'),
  url('https://at.alicdn.com/t/font_439465_g1l0gf02l1dlhaor.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_439465_g1l0gf02l1dlhaor.svg##{$icon-font-prefix}') format('svg');
}

.#{$icon-font-prefix} {
font-family:"#{$icon-font-prefix}" !important;
font-size:16px;
font-style:normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.#{$icon-font-prefix}-error:before { content: "\e601"; }

.#{$icon-font-prefix}-down:before { content: "\e602"; }

.#{$icon-font-prefix}-spinner:before { content: "\e634"; }

.#{$icon-font-prefix}-search:before { content: "\e668"; }

.#{$icon-font-prefix}-warning-o:before { content: "\e835"; }

.#{$icon-font-prefix}-check-r:before { content: "\e87c"; }

.#{$icon-font-prefix}-person:before { content: "\e600"; }

.#{$icon-font-prefix}-phone:before { content: "\e607"; }

.#{$icon-font-prefix}-check:before { content: "\e614"; }

.#{$icon-font-prefix}-plus:before { content: "\e62d"; }

.#{$icon-font-prefix}-check-o:before { content: "\e641"; }

.#{$icon-font-prefix}-reduce:before { content: "\e633"; }

.#{$icon-font-prefix}-setting:before { content: "\e690"; }

.#{$icon-font-prefix}-close:before { content: "\e69a"; }

.#{$icon-font-prefix}-help:before { content: "\e6b6"; }

.#{$icon-font-prefix}-camera:before { content: "\e609"; }

.#{$icon-font-prefix}-close-i-o:before { content: "\e60d"; }

.#{$icon-font-prefix}-time:before { content: "\e613"; }

.#{$icon-font-prefix}-refresh:before { content: "\e61f"; }

.#{$icon-font-prefix}-coordinates:before { content: "\e6ec"; }

.#{$icon-font-prefix}-right:before { content: "\e721"; }

.#{$icon-font-prefix}-circle-pointer:before { content: "\e61b"; }

.#{$icon-font-prefix}-more:before { content: "\e608"; }

.#{$icon-font-prefix}-arrow-right:before { content: "\e603"; }

.#{$icon-font-prefix}-arrow-down:before { content: "\e604"; }

.#{$icon-font-prefix}-arrow-left:before { content: "\e605"; }

.#{$icon-font-prefix}-arrow-up:before { content: "\e606"; }

.#{$icon-font-prefix}-up:before { content: "\e60a"; }

.#{$icon-font-prefix}-more-v:before { content: "\e87d"; }

.#{$icon-font-prefix}-order:before { content: "\e775"; }

.#{$icon-font-prefix}-phone-full:before { content: "\e659"; }

.#{$icon-font-prefix}-coordinates_fill:before { content: "\e6ed"; }

.#{$icon-font-prefix}-information:before { content: "\e647"; }

.#{$icon-font-prefix}-money1f:before { content: "\e6c1"; }

.#{$icon-font-prefix}-triangle-down:before { content: "\e622"; }

.#{$icon-font-prefix}-money3coloring:before { content: "\e616"; }

.#{$icon-font-prefix}-order:before { content: "\e775"; }

// spin animate
.#{$icon-font-prefix}-spin {
  animation: d-spin 1s infinite steps(8);
}

.#{$icon-font-prefix}-pulse {
  animation: d-spin 1s infinite steps(8);
}

@keyframes d-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
