@import '../styles/themes/default';

.snake-breadcrumb-item-content {
  color: $primaryColor;
  cursor: pointer;
  &:hover {
    color: #127da0;
  }
}

.snake-breadcrumb-item-active {
  .snake-breadcrumb-item-content {
    color: $colorFontTerm;
    cursor: initial;
  }
}
.snake-breadcrumb-separator {
  // cursor: pointer;
  margin: 0 4px;
}
