.snake-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #01C1B2;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

#components-back-top-demo-custom .snake-design-backtop-default {
  bottom: 100px;
}