.scrollable-container {
  height: 100px;
  overflow-y: scroll;
}

.background1 {
  padding-top: 60px;
  height: 300px;
  background-image: url(https://zos.alipayobjects.com/rmsportal/RmjwQiJorKyobvI.jpg);
}

.background2 {
  padding-top: 120px;
  height: 300px;
  background-image: url(https://zos.alipayobjects.com/rmsportal/RmjwQiJorKyobvI.jpg);
}